
#div1, #div2, #div3 {
    font-size: 20px;
    color: red;
}

#div1 {
    height:300px; 
    background-color:rgb(143, 143, 224);
}

#div2 {
    height:200px; 
    background-color:rgb(114, 192, 192);
}

#div3 {
    height:230px; 
    background-color:rgb(199, 129, 129);
}

/* using nested styling */
h1 {
    font-size: 50px;
    color: green;
    text-align: center;
} 

/* style all paragraphs with a blue color */
p {
    color: blue;
}

/*style only the paragraphs with the “large-text” class with a larger font. 
  Hint: This will require chaining.*/
p.large-text {
    font-size: 40px;
}

