#div1 {

    height:400px; 
    background-color:rgb(143, 143, 224);
}

#div2 {

    height:400px; 
    background-color:rgb(114, 192, 192);
}

#div3 {

    height:400px; 
    background-color:rgb(199, 129, 129);
}
.large-text {
    font-size: 40px;
    color: blue;
}

p {
    font-size: 30px;
    color: blue;
}